/* Variables et styles de base */
:root {
  --accent: #ede026;
  --accent-faint: #ede026;
  --white: #ffffff;
  --white-light: #fafafa;
  --white-mid: #ededed;
  --white-dark: #cccccc;
  --black: #000000;
  --black-light: #333333;
  --black-mid: #222222;
  --grey-light: #999999;
}

*::selection {
  background-color: var(--primary); /* Vert plein */
  color: white; /* Texte blanc pour un meilleur contraste */
}

body {
  background-color: var(--white-light);
  color: var(--black-light);
  padding: 2rem;
  max-width: 45rem;
  margin: 0 auto;
  line-height: 1.8;
  text-align: start;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'calt', 'liga';
  font-family: 'OpenSans var', 'OpenSans', 'Helvetica', 'Arial', sans-serif;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
  animation: fadeInUp 1s ease-in-out;
}

/* Typographie de base */
h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

/* Formulaires */
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--white-mid);
  background-color: var(--white);
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--accent);
}

textarea {
  display: block;
  margin-right: 1rem;
  resize: vertical;
}

button,
input[type='submit'] {
  border: solid 3px;
  outline: none;
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  margin: 3rem auto;
  padding: 6px 20px;
  font-size: 0.9rem;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

button:hover,
input[type='submit']:hover {
  filter: brightness(1.1);
  transform: translateY(4px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Sections */
section {
  margin-bottom: 5rem;
}

/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
