---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="404 - YOIR NAME">
  <h1>404!</h1>
  <p>Vous cherchez une page qui n'existe pas.</p>
  <p>
    <a href="/">Retour à la page d'accueil.</a>
  </p>
</Layout>
