---
import Layout from "../layouts/Layout.astro";
import MapWithSidebar from "../components/MapWithSidebar.svelte";
---

<Layout title="Cartes du territoire">
  <main>
    <MapWithSidebar client:load />
  </main>
</Layout>


