---
import Layout from '../layouts/Layout.astro';
import CompetencesPage from '../components/CompetencesPage.svelte';
---

<Layout title="Compétences - MCC Putanges-le-Lac">
  <main class="competences-main">
    <CompetencesPage client:load />
  </main>
</Layout>


<style>
  .competences-main {
    max-width: 1600px;
    margin: 0;
  }
</style>

